DATABASE_URL=Database connection string for PostgreSQL database

JWT_SECRET=JwT secret key for authentication
AI_SERVICE_API_KEY=Ai service API key for accessing AI services

NEXT_PUBLIC_SUPABASE_URL=Next.js public environment variable for Supabase URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=Next.js public environment variable for Supabase publishable key

SUPABASE_SERVICE_ROLE_KEY=Supabase service role key for server-side operations

EMAIL_USER=Email address for sending emails
EMAIL_PASS=Email password or app-specific password

FRONTEND_URL=Frontend URL for the application
BACKEND_URL=Backend URL for the application